@import "bourbon";
@import "neat";

$black: #333;
$accent-orng: #ff9900;
$accent-lblu: #4da1a9;
$accent-dblue: #2e5077;
$accent-maroon: #611c35;

body {
    @include fill-parent;
    font-family: 'Lato', sans-serif;
    color: $black;
    margin: 0;
}
#navbar {
    width: 100%;
    padding: 25px 80px 0px 80px;
    position: fixed;
    z-index: 6969;
    line-height: 36px;
    transition: 0.3s linear;
}

#nav-items {
    padding-top: 5px;
    margin: 0;
    float: right;
}

#navbar-logo {
    float: left;
}

.nav-item {
    display: block;
    margin-left: modular-scale(2);
    margin-bottom: 0;
    float: left;
}
.panel { 
    @include outer-container;
}

#splash {
    height: 80vh;
    @include display(flex);
    @include align-items(center);
}

#splash-contents {
}
#splash-text {
    font-size: modular-scale(6);
    font-weight: 600;
}

#anim-text {
    color: $accent-orng;
}

