/* line 12, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
body {
  color: rgba(0, 0, 0, 0.86);
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }
  /* line 17, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
  body accent {
    color: #18559F; }
  /* line 19, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
  body orange {
    color: #f39c12; }

/* line 22, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/* line 29, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
#nav {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  padding: 30px 80px 0px 80px;
  z-index: 69;
  color: #fff;
  line-height: 43px; }

/* line 38, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
#header-logo {
  font-size: 2.7rem;
  font-weight: 600;
  float: left; }

/* line 43, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
#nav-items {
  float: right; }

/* line 46, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
.nav-item {
  display: block;
  margin-left: 1.2rem;
  float: left;
  text-transform: uppercase; }

/* line 52, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
.panel {
  width: 100vw;
  padding: 80px 0px 80px 0px;
  box-sizing: border-box;
  text-align: center; }
  /* line 57, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
  .panel p {
    text-align: left; }
  /* line 59, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
  .panel h2 {
    margin-bottom: 40px; }

/* line 65, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
#splash {
  color: #fff;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(329deg, rgba(0, 0, 0, 0.86), #212121);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 35s ease infinite;
  -moz-animation: AnimationName 35s ease infinite;
  -o-animation: AnimationName 35s ease infinite;
  animation: AnimationName 35s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 35%; }
  50% {
    background-position: 100% 66%; }
  100% {
    background-position: 0% 35%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 35%; }
  50% {
    background-position: 100% 66%; }
  100% {
    background-position: 0% 35%; } }

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 35%; }
  50% {
    background-position: 100% 66%; }
  100% {
    background-position: 0% 35%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 35%; }
  50% {
    background-position: 100% 66%; }
  100% {
    background-position: 0% 35%; } }
  /* line 98, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
  #splash button {
    margin: 1rem 1.5rem 1rem 1.5rem;
    color: #fff;
    transition: all 0.5s ease; }
    /* line 102, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
    #splash button:hover {
      background-color: #f39c12;
      color: rgba(0, 0, 0, 0.86);
      border-color: rgba(0, 0, 0, 0.86); }

/* line 107, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
#logo-img {
  margin-bottom: 25px; }
  /* line 109, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
  #logo-img img {
    max-width: 720px; }

/* line 112, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
#about-logos {
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 116, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
div#about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 650px;
  background-color: #fafafa; }
  /* line 120, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
  div#about p {
    text-align: center; }
  /* line 122, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
  div#about strong {
    font-size: 1.1em;
    font-weight: 400;
    color: #f39c12; }

/* line 129, C:/Users/David/Projects/baybithack2015/static/css/main.sass */
div#bitcoin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #18559F;
  color: #fff; }

/*# sourceMappingURL=main.css.map */