/* line 14, main.sass */
body {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.86);
  font-family: "Hind", sans-serif;
  font-size: 1.8em;
  line-height: 1.7em;
}
/* line 21, main.sass */
body accent {
  color: #18559f;
}
/* line 23, main.sass */
body orange {
  color: #f39c12;
}
/* line 25, main.sass */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Montserrat", sans-serif;
}

/* line 28, main.sass */
.container {
  margin: 0;
}

/* line 31, main.sass */
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 38, main.sass */
.header {
  width: 100%;
  box-sizing: border-box;
  padding: 25px 80px 0px 80px;
  position: fixed;
  z-index: 6969;
  color: #fff;
  line-height: 36px;
  transition: 0.3s linear;
}
/* line 47, main.sass */
.header a {
  text-decoration: none;
  color: #fff;
}
/* line 50, main.sass */
.header .active {
  border-bottom: 2px #f39c12 solid;
}

/* line 55, main.sass */
.scrollHeader {
  color: #f39c12;
  padding: 0px 80px 0 80px;
}
/* line 62, main.sass */
.scrollHeader a {
  transition: 0.3s linear;
  color: #f39c12;
}
/* line 65, main.sass */
.scrollHeader .active {
  padding-bottom: 4px;
}

/* line 68, main.sass */
#header-logo {
  padding-top: 7px;
  font-size: 2.7rem;
  font-weight: 600;
  float: left;
}

/* line 74, main.sass */
#nav-items {
  padding-top: 5px;
  margin: 0;
  float: right;
}

/* line 79, main.sass */
.nav-item {
  display: block;
  margin-left: 1.2rem;
  margin-bottom: 0;
  float: left;
  text-transform: uppercase;
}

/* line 86, main.sass */
.panel {
  margin: 0;
  width: 100vw;
  max-width: 100%;
  padding: 95px 0px 95px 0px;
  box-sizing: border-box;
  text-align: center;
}
/* line 93, main.sass */
.panel p {
  text-align: left;
}
/* line 95, main.sass */
.panel h2 {
  margin-bottom: 45px;
}

/* line 98, main.sass */
#splash {
  color: #fff;
  height: 60vh;
  min-height: 720px;
  text-align: center;
  background-image: -webkit-linear-gradient(top, #3769a5, rgba(55, 105, 165, 0.5));
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
}
/* line 108, main.sass */
#splash button {
  margin: 1rem 1.25rem 1rem 1.25rem;
  color: #fff;
  transition: all 0.5s ease;
}
/* line 112, main.sass */
#splash button:hover {
  background-color: #f39c12;
  color: #fafafa;
}

/* line 116, main.sass */
#logo-img {
  margin-bottom: 25px;
}
/* line 118, main.sass */
#logo-img img {
  max-width: 720px;
  width: 75%;
}

/* line 122, main.sass */
#about-content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
}

/* line 125, main.sass */
div#about {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-image: -webkit-linear-gradient(top, rgba(55, 105, 165, 0.5), #fafafa);
}
/* line 128, main.sass */
div#about strong {
  font-size: 1.1em;
  font-weight: 400;
  color: #f39c12;
}

/* line 133, main.sass */
div#bitcoin {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: #fafafa;
}

/* line 137, main.sass */
#bitcoin-img {
  position: relative;
}

/* line 140, main.sass */
img#bitcoin-network {
  position: absolute;
  object-fit: cover;
  max-height: 560px;
  left: 60px;
  top: -40px;
  width: auto;
}

/* line 148, main.sass */
div#placeholder {
  height: 2000px;
}

@media (max-device-width: 1024px) {
  /* line 152, main.sass */
  #bitcoin-img {
    display: none;
  }
}
